<!-- NOT USED - DELETE WHEN ALL RELEVANT INFO IS COPIED -->



<div class="my-4 border border-blue-400 rounded-lg overflow-hidden">
  <div class="border-b border-blue-400 bg-blue-100 px-4 py-1 flex flex-row gap-2 items-baseline">
    <span class="font-bold">Wulan &rarr; Attributes</span>
    <span class="ml-auto text-sm"><a href="#" class="ts-link">add tracker here</a></span>
  </div>
  <div class="flex flex-row flex-wrap gap-5 p-2">
    <div class="group relative border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-blue-400 px-2 py-1">
        <select class="text-xs pl-1 py-1 w-full"><option selected>Pick one</option><option>Checkbox</option><option>Integer</option><option>String</option><option>Card</option></select>
      </div>
      <div class="p-2">
        <div class="w-36 h-8 flex flex-col justify-center">
          <div class="text-center text-sm font-bold text-blue-200">
            Choose a type
          </div>
        </div>
      </div>
    </div>

    <div class="group relative whitespace-nowrap border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-blue-400 px-2 py-1">
        <select class="text-xs pl-1 py-1 w-full"><option>Checkbox</option><option selected>Integer</option><option>String</option><option>Card</option></select>
      </div>
      <div class="p-2">
        <input type="text" placeholder="Label" class="w-24 p-1 text-sm" />
        <input type="text" placeholder="Num" class="w-12 p-1 text-sm" />
      </div>
    </div>

    <div class="group relative whitespace-nowrap border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-blue-400 px-2 py-1">
        <select class="text-xs pl-1 py-1 w-full"><option selected>Checkbox</option><option>Integer</option><option>String</option><option>Card</option></select>
      </div>
      <div class="p-2">
        <input type="text" placeholder="Label" class="w-24 p-1 text-sm" />
        <input type="checkbox" class="ml-2" />
      </div>
    </div>

    <div class="group relative whitespace-nowrap border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-blue-400 px-2 py-1">
        <select class="text-xs pl-1 py-1 w-full"><option>Checkbox</option><option>Integer</option><option selected>String</option><option>Card</option></select>
      </div>
      <div class="p-2">
        <input type="text" placeholder="Label" class="w-24 p-1 text-sm" />
        <input type="text" placeholder="String" class="w-24 p-1 text-sm" />
      </div>
    </div>

    <div class="group relative min-w-36 border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-blue-400 px-2 py-1 text-blue-400">
        <strong>Momentum</strong> was <strong>5</strong>
      </div>
      <div class="text-sm p-2">
        Now: <input type="text" placeholder="5" class="w-12 text-sm p-1" />
      </div>
    </div>

    <div class="group relative min-w-36 border border-red-400 bg-red-50 rounded-lg rounded-t-none h-min">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-red-50 border border-red-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-red-400 px-2 py-1 text-red-400">
        Deleting <strong>Momentum</strong>
      </div>
      <div class="text-sm p-2 text-red-400">
        Value was <strong>6</strong>.
      </div>
    </div>
  </div>
</div>

<div class="my-4 border border-blue-400 rounded-lg overflow-hidden">
  <div class="border-b border-blue-400 bg-blue-100 px-4 py-1 flex flex-row gap-2 items-baseline">
    <span class="font-bold">Wulan &rarr; Assets</span>
    <span class="ml-auto text-sm"><a href="#" class="ts-link">add tracker here</a></span>
  </div>
  <div class="flex flex-row gap-5 p-2">
    <div class="group relative border border-blue-400 bg-blue-50 rounded-lg rounded-t-none">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="text-xs border-b border-blue-400 px-2 py-1">
        <select class="text-xs pl-1 py-1 w-full"><option>Checkbox</option><option>Integer</option><option>String</option><option selected>Card</option></select>
      </div>
      <div class="p-2 border-b border-blue-400">
        <input type="text" placeholder="Title" class="w-full p-1 text-sm" />
      </div>
      <div class="p-2">
        <textarea rows="5" class="w-full p-1 text-sm"></textarea>
      </div>
    </div>

    <div class="group relative border border-blue-400 bg-blue-50 rounded-lg rounded-t-none">
      <div class="hidden w-4 group-hover:block absolute -right-4 -top-px bg-blue-50 border border-blue-400 border-l-0 text-center ts-cancel cursor-pointer">
        X
      </div>
      <div class="p-2 border-b border-blue-400">
        <input type="text" placeholder="Original title of card" class="w-full p-1 text-sm" />
      </div>
      <div class="p-2">
        <textarea rows="7" class="w-full p-1 text-sm">Text of the card that may be edited.</textarea>
      </div>
    </div>
  </div>
</div>
