  <div class="border rounded-xl mb-2 overflow-hidden">
    <div class="border-b bg-blue-50 font-bold px-4 py-1"><%= namespace_name(name) %></div>
    <div class="p-4">
      <% if !local_assigns.key?(:children) %>
        <%= yield %>
      <% else %>
        <% mode = nil %>
        <% children.each do |name, value| %>
          <% if is_namespace?(value) %>
            <% if mode == :element %></div><% end %>
            <% mode = nil %>
            <%= render 'track_sheet_updates/namespace', name: name, children: value %>
          <% else %>
            <% if mode != :element %>
              <div class="flex flex-row flex-wrap gap-2">
              <% mode = :element %>
            <% end %>
            <%= render_track_sheet_element(name, value['_type'], value['value']) %>
          <% end %>
        <% end %>
        <% if mode == :element %></div><% end %>
      <% end %>
    </div>
  </div>
