<div data-controller="tracker-picker-service" data-tracker-picker-service-dialog-outlet="#dialog_<%= id %>" data-tracker-picker-service-tracker-picker-outlet="#picker_<%= id %>">
  <%= render 'layouts/dialog', id: "dialog_#{id}", state: :closed, on_close: :hide, color: :blue, title: 'Tracker Selector' do %>
    <div data-controller="tracker-picker" id="picker_<%= id %>" class="tracker-picker px-4 py-2">
      <script type="text/x-handlebars-template" data-tracker-picker-target="treeTemplate">
        <li>
          <div data-state="{{state}}" data-path="{{path}}" class="label"><span class="toggle font-mono cursor-pointer">{{toggle}}</span> <span class="{{labelClasses}}">{{label}}</span> <span class="text-xs invisible group-hover:visible">[ <a href="#" class="ts-link add-group">new tracker group</a> ]</span></div>
          <ul class="{{childrenVisibility}} ml-3 pl-2 border-l">
            {{#each children}}
              {{> (lookup . 'partial')}}
            {{/each}}
          </ul>
        </li>
      </script>
      <script type="text/x-handlebars-template" data-tracker-picker-target="leafTemplate">
        <li {{#if path}}data-path="{{path}}"{{/if}} {{#if source}}data-source="{{source}}"{{/if}} class="{{classList}}">
          {{label}}
        </li>
      </script>
      <div data-tracker-picker-target="view" data-action="click->tracker-picker#viewClicked">
      </div>
    </div>
  <% end %>
</div>
