<div class="hidden" data-controller="track-sheet-form-renderer" data-track-sheet-form-renderer-name-value="<%= name %>">
  <template data-track-sheet-form-renderer-target="pathFrame">
    <div class="ts-frame my-4 border border-blue-400 rounded-lg overflow-hidden">
      <div class="border-b border-blue-400 bg-blue-100 px-4 py-1 flex flex-row gap-2 items-baseline">
        <span class="ts-path-label font-bold"></span>
        <span class="ml-auto text-sm"><a href="#" class="ts-add-tracker-here ts-link">add tracker here</a></span>
      </div>
      <div class="ts-updates flex flex-row flex-wrap gap-5 p-2">
      </div>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="addFrame">
    <div class="ts-frame ts-add relative border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
      <div class="w-full flex flex-row gap-2 items-baseline border-b border-blue-400 px-2 py-1">
        <div class="text-xs grow">
          <select class="ts-type text-xs pl-1 py-1 w-full">
            <option value=''>Pick one</option>
            <option value='bool'>Checkbox</option>
            <option value='int'>Short</option>
            <option value='string'>Long</option>
            <option value='card'>Card</option>
          </select>
        </div>
        <div class="ts-cancel cursor-pointer center">
          X
        </div>
      </div>
      <div class="ts-body">
        <div class="w-36 h-8 m-2 flex flex-col justify-center">
          <div class="text-center text-sm font-bold text-blue-200">
            Choose a type
          </div>
        </div>
      </div>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="updateFrame">
    <div class="ts-frame ts-update relative border border-blue-400 bg-blue-50 rounded-lg rounded-t-none h-min">
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="removeFrame">
    <div class="ts-frame ts-remove relative min-w-36 border border-slate-400 bg-slate-50 rounded-lg rounded-t-none h-min">
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="addBool">
    <div class="ts-body p-2 flex flex-row gap-2 items-center" data-type="bool">
      <span contenteditable="true" placeholder="Label" class="ts-name inline-block min-w-16 bg-white p-1 text-sm border border-gray-200 rounded"></span>
      <input type="checkbox" value="1" class="ts-value ml-2" />
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="addCard">
    <div class="ts-body" data-type="card">
      <div class="p-2 border-b border-blue-400">
        <span contenteditable="true" placeholder="Title" class="ts-name w-48 inline-block p-1 text-sm bg-white border border-gray-200"></span>
      </div>
      <div class="p-2">
        <div contenteditable="true" class="ts-value w-48 min-h-40 p-1 text-sm bg-white border border-gray-200"></div>
      </div>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="addInt">
    <div class="ts-body p-2 flex flex-row gap-2" data-type="int">
      <span contenteditable="true" placeholder="Label" class="ts-name inline-block min-w-16 p-1 text-sm bg-white border border-gray-200"></span>
      <span contenteditable="true" placeholder="Val" class="ts-value inline-block min-w-12 p-1 text-sm bg-white border border-gray-200"></span>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="addString">
    <div class="ts-body p-2 flex flex-row gap-2" data-type="string">
      <span contenteditable="true" placeholder="Label" class="ts-name inline-block min-w-16 p-1 text-sm bg-white border border-gray-200"></span>
      <span contenteditable="true" placeholder="String" class="ts-value inline-block min-w-24 p-1 text-sm bg-white border border-gray-200"></span>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="updateValue">
    <div class="ts-body">
      <div class="flex flex-row gap-2 items-baseline border-b border-blue-400 text-blue-400">
        <div class="grow text-xs px-2 py-1">
          <strong class="ts-name"></strong> was <strong class="ts-original-value"></strong>
        </div>
        <div class="ts-cancel cursor-pointer center pr-2">X</div>
      </div>
      <div class="text-sm p-2">
        Now:
        <span contenteditable="true" placeholder="Label" class="ts-value inline-block min-w-8 bg-white p-1 text-sm border border-gray-200 rounded"></span>
      </div>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="updateBool">
    <div class="ts-body p-2 flex flex-row gap-2 items-center">
      <span contenteditable="true" placeholder="Label" class="ts-name inline-block min-w-16 bg-white p-1 text-sm border border-gray-200 rounded"></span>
      <span class="ts-original-value"></span>
      </span>&rarr;</span>
      <input type="checkbox" value="1" class="ts-value" />
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="updateCard">
    <div class="ts-body" data-type="card">
      <div class="p-2 border-b border-blue-400">
        <span contenteditable="true" placeholder="Title" class="ts-name w-48 inline-block p-1 text-sm bg-white border border-gray-200"></span>
      </div>
      <div class="p-2">
        <div contenteditable="true" class="ts-value w-48 min-h-40 p-1 text-sm bg-white border border-gray-200"></div>
      </div>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="removeValue">
    <div class="ts-body">
      <div class="flex flex-row gap-2 items-baseline border-b border-slate-400 text-slate-400">
        <div class="grow text-xs px-2 py-1">"<strong class="ts-name"></strong>" removed.</div>
        <div class="ts-cancel cursor-pointer center pr-2">X</div>
      </div>
      <div class="text-sm p-2 text-slate-400">
        <span class="ts-name"></span> was <strong class="ts-original-value">.</strong>.
      </div>
    </div>
  </template>

  <template data-track-sheet-form-renderer-target="removeGroup">
    <div class="ts-body">
      <div class="flex flex-row gap-2 items-baseline text-slate-400">
        <div class="grow text-sm px-2 py-1">"<strong class="ts-name"></strong>" removed.</div>
        <div class="ts-cancel cursor-pointer center pr-2">X</div>
      </div>
    </div>
  </template>
</div>
