<% if track_sheet_update.any? %>
  <div class="mt-4 font-sans">
    <% each_update_entry(track_sheet_update) do |sheet, entry| %>
      <%= render_track_sheet_update_entry(sheet, entry) %>
    <% end %>
  </div>
<% end %>
