<% if track_sheet_update.any? %>
  <div class="mt-4 font-sans">
    <% each_update_entry(track_sheet_update) do |action, path, sheet, entry| %>
      <% if action == :start_cohort %>
        <div class="border rounded-xl mb-2 overflow-hidden">
          <div class="border-b bg-blue-50 font-bold px-4 py-1"><%= namespace_name(path) %></div>
          <div class="px-4 pt-2 flex flex-row flex-wrap gap-2">
      <% elsif action == :end_cohort %>
          </div>
        </div>
      <% elsif entry['action'] == 'remove' %>
        <%= render_track_sheet_update_remove(sheet, entry) %>
      <% else %>
        <% each_update_child(entry, sheet) do |name, type, value, prior| %>
          <%= render_track_sheet_element(name, type, value, prior) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
