<div class="mb-4 border rounded-lg border-blue-400 overflow-hidden">
  <div class="bg-blue-50 border-b border-blue-400 px-4 py-2">
    <%= comment.user.display_name %> said, <%= time_ago_in_words(comment.created_at) %> ago:
  </div>
  <div class="markdown px-4 py-2">
    <%=md comment.contents %>
  </div>
</div>
