<div data-controller="dialog" data-dialog-hidden-class="hidden" data-dialog-on-close-value="remove" data-dialog-state-value="open" data-action="keydown.esc->dialog#close:prevent">
  <div class="z-40 fixed top-0 left-0 w-full h-screen bg-black opacity-20"></div>

  <div class="z-50 fixed shadow-md bg-white rounded-xl border border-gray-300 w-1/2 left-1/4 top-20 overflow-hidden">
    <header class="flex flex-row w-full px-4 py-2 bg-gray-100 border-b border-gray-300">
      <h1 class="font-bold">Track Sheet</h1>
      <a class="ml-auto ts-link" href="#" data-action="dialog#close:prevent">close</a>
    </header>

    <main class="bg-white p-2 max-h-[75vh] overflow-y-scroll">
      <ts-track-sheet data-renderer="track-sheet-renderer" data-definition="<%= @track_sheet_definition.to_json %>"></ts-track-sheet>
    </main>
  </div>
  <%= render 'chapters/display_renderer', service_name: 'track-sheet-renderer' %>
</div>
