<% if prior.present? %>
  <%= render "track_sheet_updates/types/card_with_value", name: name, value: prior, old: true %>
  <div class="self-center">&rarr;</div>
<% end %>
<%= render "track_sheet_updates/types/card_with_value", name: name, value: value, old: false %>
