<div class="border rounded-lg bg-blue-50 px-2 py-1 mb-2">
  <%= name %>:
  <% if prior.present? %>
    <span class="text-gray-400"><%= prior %></span>
    &rarr;
  <% end %>
  <span class="font-bold"><%= value %></span>
</div>
