<%= turbo_frame_tag :banner do %>
  <div class="w-full mb-8 h-[25vw] min-h-[33vh] max-h-[50vh] relative bg-center bg-cover" style="background-image: url('<%= container.banner.url %>');">
    <% if editable %>
      <div class="absolute right-4 bottom-2 text-sm">
        <%= form_with url: polymorphic_banner_path(container), method: :delete do |f| %>
          <%= f.submit "remove banner", class: "px-2 py-1 border rounded border-red-300 bg-red-100 opacity-30 hover:opacity-100 cursor-pointer", data: { turbo_confirm: "Remove this banner?" } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
