<%= turbo_frame_tag :banner do %>
  <div class="w-full mt-12 mb-4 h-20 flex flex-row">
    <%= link_to(url, class: "block mx-auto w-20 h-20 self-center border rounded-lg text-gray-400 opacity-30 flex flex-row hover:opacity-100") do %>
      <div class="self-center text-center">
        Add Banner
      </div>
    <% end %>
  </div>
<% end %>
