<li>
  <div class="flex flex-col md:flex-row md:gap-2 mb-2 md:mb-0 items-baseline">
    <%= link_to chapter.title.presence || "Untitled", chapter_path(chapter), class: "ts-link" %>
    <div class="text-sm">
      <% if chapter.published? %>
        <span class="text-gray-400">(from <%= time_ago_in_words(chapter.published_at) %> ago)</span>
      <% else %>
        <span class="text-red-600">[draft]</span>
      <% end %>
    </div>
  </div>
</li>
