<li class="list-none text-sm py-1">
  <%= link_to new_story_chapter_path(chapter.story, prequel_id: chapter.id), class: 'border border-blue-300 rounded px-2 py-0.5 bg-blue-100 opacity-50 hover:opacity-100' do %>
    Add a new chapter here
  <% end %>
</li>
