<li class="list-none text-sm py-1">
  <%= link_to new_story_chapter_path(chapter.story, prequel_id: chapter.id), class: 'border rounded border-gray-300 bg-white hover:border-blue-300 hover:bg-blue-50 px-2 py-0.5' do %>
    Add a new chapter here
  <% end %>
</li>
