<div class="whitespace-nowrap p-2"><span class="font-bold"><%= attributes.name %></span>:</div>
<% attributes.definition.each do |element| %>
  <%= render_tracker_template_element(element, readonly: true) %>
<% end %>
