<% prior = @chapter.prior_chapter %>
<% sequels = visible_sequels(@chapter) %>

<% if prior.present? || sequels.any? %>
  <div class="flex flex-row flex-wrap gap-2 items-baseline border-t border-b py-1">
    <% if prior.present? %>
      <div class="flex flex-row gap-2">
        <span>&larr;</span>
        <%= link_to prior.title, prior, class: 'ts-link' %>
      </div>
    <% end %>

    <% if sequels.any? %>
      <div class="ml-auto flex flex-col">
        <% sequels.each do |action| %>
          <div class="flex flex-row gap-2">
            <%= link_to(action.prompt, action.target, class: 'text-right ts-link') %>
            <span>&rarr;</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
