<% content_for :subheader do %>
  <div class="bg-gray-50 px-4 text-sm border-b">
    <div class="mx-2 flex flex-row items-baseline">
      <% if @chapter.track_sheet_origin.present? %>
        <div class="flex-initial px-2 py-1">
          <%= link_to "Track Sheet", chapter_track_sheet_path(@chapter.track_sheet_origin), data: { turbo_stream: true }, class: "ts-link" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
