@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container.ql-snow {
  border: none;
}

.ql-editor {
  padding: 0.5rem 1rem;
}

.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #ddd;
}

@layer base {
  .first-section .trix-content p:first-child::first-line {
    @apply uppercase;
  }

  .trix-content {
    * {
      @apply font-serif text-lg;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply font-bold my-4;
    }

    :is(h1, h2, h3, h4, h5, h6) + p {
      @apply indent-0;
    }

    h1 {
      @apply text-2xl;
    }

    h2 {
      @apply text-xl;
    }

    p {
      /* hyphens-auto requires a lang attribute on the element */
      @apply indent-4 hyphens-auto text-justify;
    }

    &.card-contents p {
      @apply indent-0;
    }

    p:first-child {
      @apply indent-0;
    }

    ul {
      @apply list-disc my-4 ml-4;
    }

    li {
      @apply ml-12;
    }

    hr {
      @apply w-1/2 mx-auto my-8;
    }
  }
}

@import 'actiontext.css';
