/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.can-delete {
  display: none;
}

.many-sections {
  .can-delete {
    display: initial;
  }
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor {
  padding: 0.5rem 1rem;
}

.ql-toolbar {
  background-color: white;
  z-index: 10;

  &.ql-snow {
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .ql-divider:before {
    display: block;
    margin-top: -0.2rem;
    content: '—';
  }
}

.markdown {
  p { margin-bottom: 1rem; }
}

span[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

span[placeholder]:empty:focus::before {
  content: "";
}
