<div class="flex-col">
  <h1 class="text-2xl font-bold">Your Tracker Templates</h1>

  <ul class="my-4 list-disc ml-8">
    <%= render partial: "tracker_template", collection: @templates %>
  </ul>
</div>
